# Ignore the virtual environment folder
GPKenv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-related files (optional)
.vscode/
.idea/

# Ignore environment configuration files (if any)
*.env
.env

# Ignore wheel and distribution files
*.egg-info/
dist/
build/
